html
  head
    script(type='text/javascript',src="bower_components/angular/angular.min.js")
    script(type='text/javascript',src="bower_components/angular-route/angular-route.min.js")  
    script(type='text/javascript',src="js/workTrackingApp.js")
    script(type='text/javascript',src="js/workTrackingController.js")  
    script(type='text/javascript',src="js/initController.js")
    script(type='text/javascript',src="js/loginController.js")  
    script(type="text/javascript",src="js/signupController.js")   
    script(type="text/javascript",src="js/workweekController.js")
    link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap.min.css")         
    link(rel="stylesheet",href="styles/importer.css")
    title TimeTracker
  body(ng-app="workTrackingApp",ng-controller="MainController")
    .container-fluid
      div(ng-view)
